<section class="home-contato">
  <h2 class="contato-titulo-estiloso">Contato do Além</h2>
  <div class="contato-imagens">
    <img src="https://i.postimg.cc/GmcHndSm/download-5.jpg" alt="Contato 1" class="contato-img" />
    <img src="https://i.postimg.cc/nLWzm7VX/download-6.jpg" alt="Contato 2" class="contato-img" />
    <img src="https://i.postimg.cc/cJCC6TWq/download-7.jpg" alt="Contato 3" class="contato-img" />
  </div>
  
  <div class="contato-card">
    <div class="contato-info">
      <table class="contato-table">
        <tr>
          <td class="contato-icon"><i class="fa fa-phone"></i></td>
          <td class="contato-text">
            <div class="contato-label">Celular para contato</div>
            <div class="contato-value">(14) 99999-9999</div>
          </td>
          <td class="contato-icon"><i class="fa fa-map-marker"></i></td>
          <td class="contato-text">
            <div class="contato-label">Endereço do além</div>
            <div class="contato-value">Rua do Além, 666 - Botucatu/SP</div>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <div class="contato-horario-pagamento">
              <div class="contato-secao">
                <div class="contato-icon"><i class="fa fa-clock-o"></i></div>
                <div class="contato-text">
                  <div class="contato-label">Horário de atendimento</div>
                  <div class="contato-value">Seg a Sáb: 9h às 17h</div>
                </div>
              </div>
              <div class="contato-secao">
                <div class="contato-icon"><i class="fa fa-credit-card"></i></div>
                <div class="contato-text">
                  <div class="contato-label">Formas de Pagamento</div>
                  <div class="contato-value">
                    <div class="payment-methods">
                      <span class="payment-method"><i class="fa fa-qrcode"></i> PIX</span>
                      <span class="payment-method"><i class="fa fa-credit-card"></i> Cartões</span>
                      <span class="payment-method"><i class="fa fa-fire"></i> Sua alma</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>


